{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

{% leaflet_map "main" %}


<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var map = e.detail.map;

        {% include "core/_leaflet_icons.html" %}

        var km_10 = [];
        {% for n_s_o in near_similar_order_10_km %}
            var marker = L.marker(
                [{{ n_s_o.latitude|stringformat:"f" }}, {{ n_s_o.longitude|stringformat:"f"}}],
                {icon: blueIcon}
                );
            marker.bindPopup('{{ n_s_o.popup|safe }}');
            km_10.push(marker);
        {% endfor %}
        console.log(km_10);

        var km_20 = [];
        {% for n_s_o in near_similar_order_20_km %}
            var marker = L.marker(
                [{{ n_s_o.latitude|stringformat:"f" }}, {{ n_s_o.longitude|stringformat:"f"}}],
                {icon: blueIcon}
                );
            marker.bindPopup('{{ n_s_o.popup|safe }}');
            km_20.push(marker);
        {% endfor %}
        console.log(km_20);


        var km_10_layer = L.layerGroup(km_10);
        var km_20_layer = L.layerGroup(km_20);

        var layers = {
            "10km": km_10_layer.addTo(map),
            "20km": km_20_layer,
        };

        L.control.layers(layers, null, { collapsed: false }).addTo(map);

        var marker = L.marker(
            [{{ order.latitude|stringformat:"f" }}, {{ order.longitude|stringformat:"f"}}],
            {icon: greenIcon}).addTo(map);
        marker.bindPopup('{{ order.popup|safe }}').openPopup();

    }, false);
</script>