
body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.leaflet-container {  /* all maps */
    width:  100%;
    height: 640px;
    padding-bottom: 40px;
    padding-top: 40px
}

#specialbigmap {
    height: 800px;
}

.badge-success {
  background-color: #468847;
}
.badge-danger{
  background-color: #cb0500;
}

.comment-item {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}