{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

{% leaflet_map "main" %}


<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var map = e.detail.map;

        var greenIcon = new L.Icon({
          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        var blueIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
        var popup = '<a href="/order/detail/'+'{{ n_s_o.pk }}'+'/" title="Перейти на станицу заказа">'+'{{ n_s_o.address }}'+'</a><hr>'+
                    '{{ n_s_o.product.name }} - '+'{{ n_s_o.provider.name }}<hr>'+
                    'Объем: {{ n_s_o.volume }} - '+'{{ n_s_o.cost }}р';

        var km_10 = [];
        {% for n_s_o in near_similar_order_10_km %}
            var marker = L.marker(
                [{{ n_s_o.latitude|stringformat:"f" }}, {{ n_s_o.longitude|stringformat:"f"}}],
                {icon: blueIcon}
                );
            marker.bindPopup('<a href="/order/detail/'+'{{ n_s_o.pk }}'+'/" title="Перейти на станицу заказа">'+'{{ n_s_o.address }}'+'</a><hr>'+
                    '{{ n_s_o.product.name }} - '+'{{ n_s_o.provider.name }}<hr>'+
                    'Объем: {{ n_s_o.volume }} - '+'{{ n_s_o.cost }}р');
            km_10.push(marker);
        {% endfor %}
        console.log(km_10);

        var km_20 = [];
        {% for n_s_o in near_similar_order_20_km %}
            var marker = L.marker(
                [{{ n_s_o.latitude|stringformat:"f" }}, {{ n_s_o.longitude|stringformat:"f"}}],
                {icon: blueIcon}
                );
            marker.bindPopup('<a href="/order/detail/'+'{{ n_s_o.pk }}'+'/" title="Перейти на станицу заказа">'+'{{ n_s_o.address }}'+'</a><hr>'+
                    '{{ n_s_o.product.name }} - '+'{{ n_s_o.provider.name }}<hr>'+
                    'Объем: {{ n_s_o.volume }} - '+'{{ n_s_o.cost }}р');
            km_20.push(marker);
        {% endfor %}
        console.log(km_20);

        var km_30 = [];
        {% for n_s_o in near_similar_order_30_km %}
            var marker = L.marker(
                [{{ n_s_o.latitude|stringformat:"f" }}, {{ n_s_o.longitude|stringformat:"f"}}],
                {icon: blueIcon}
                );
            marker.bindPopup('<a href="/order/detail/'+'{{ n_s_o.pk }}'+'/" title="Перейти на станицу заказа">'+'{{ n_s_o.address }}'+'</a><hr>'+
                    '{{ n_s_o.product.name }} - '+'{{ n_s_o.provider.name }}<hr>'+
                    'Объем: {{ n_s_o.volume }} - '+'{{ n_s_o.cost }}р');
            km_30.push(marker);
        {% endfor %}
        console.log(km_30);

        var km_10_layer = L.layerGroup(km_10);
        var km_20_layer = L.layerGroup(km_20);
        var km_30_layer = L.layerGroup(km_30);

        var layers = {
            "10km": km_10_layer.addTo(map),
            "20km": km_20_layer,
            "30km": km_30_layer
        };

        L.control.layers(layers, null, { collapsed: false }).addTo(map);


        var marker = L.marker(
            [{{ order.latitude|stringformat:"f" }}, {{ order.longitude|stringformat:"f"}}],
            {icon: greenIcon}).addTo(map);
        marker.bindPopup("{{ order.address }}").openPopup();


        var onPolyClick = function(event){
            var layer = event.target;

            if (event.target.options.fillOpacity == 0){
                layer.setStyle({fillOpacity: 0.7});
                q.update(layer.feature.properties);
            }else {
                layer.setStyle({fillOpacity: 0});
                q.update(layer.feature.properties);
            }

        };

        {% for name, popup, poly, color in geo_data %}
            var {{ name }} = L.polygon({{ poly}}, {
                color: '{{ color }}',
                fillColor: '{{ color }}',
                fillOpacity: 0
            }
            ).addTo(map).bindPopup('{{ popup|safe }}');

            {{ name }}.on({
                    'click': onPolyClick,
                }
            );

        {% endfor %}


    }, false);
</script>