<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<div id="order-info">
    <p>Заказ номер: {{ order.pk }} </p>
    <p>Наименование: {{ order.product.name }}</p>
    <p>Объем: {{ order.volume }}</p>
    <p>Имя: {{ order.name }}</p>
    <p>Адрес: {{ order.address }}</p>
    <p>Тонары: {{ order.get_tonar_display }}</p>
    <p>Прием: {{ order.get_time_of_receipt_display }}</p>
    <p>Оплата: {{ order.get_payment_display }}</p>
    <p>Описание: {{ order.description }}
    {% for comment in comments %}
        {% if comment.author.is_staff %}
            <span style='padding-left:10px; color: darkblue'>{{ comment.text }}</span>
        {% else %}
            <span style='padding-left:10px; color: green'>{{ comment.text }}</span>
        {% endif %}
    {% endfor %}
    </p>

    <p>Стоимость с доставкой: {{ order.cost }} р.</p>
    <p>Поставщик: {{ order.provider }}</p>
    {% if order.time_completed %}
        <p>{{ order.time_completed }}</p>
    {% endif %}


</div>

<button type="button" class="btn btn-success" id="copy-button" aria-label="Left Align" data-clipboard-target="#order-info">
    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
</button>

<script type="text/javascript">
    (function(){
        new Clipboard('#copy-button');
    })();
</script>

<a class="btn btn-default" href="{% url 'order:add_comment_to_order' pk=order.pk %}">Дабавить коментарий</a>