<div class="page-header">
    <h3><small class="pull-right">{{ comments|length }}</small> Комментарии </h3>
</div>

{% for comment in comments %}
   <div class="comments-list" style="border-bottom: 1px dotted #ccc;">
       <div class="media">
           <p class="pull-right"><small>{{ comment.time_created|timesince:now }} назад</small></p>
            <div class="media-body">
                <h4 class="media-heading user_name">{{ comment.author }}</h4>

                {{ comment.text|linebreaks }}
            </div>
       </div>
   </div>
{% empty %}
    <p>Нет коментариев :(</p>
{% endfor %}