{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Изменить заказ{% endblock %}

{% block content %}
    <h1>Изменить заказ</h1>
        <form action="{% url 'order:order_edit' pk=order.pk%}" method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal"%}

            {% buttons %}
                {% buttons submit='Изменить' layout='horizontal' %}{% endbuttons %}
            {% endbuttons %}

        </form>


    {% include "order_app/sub_tpl/select_picker.html" %}

    {% include "order_app/sub_tpl/address_suggestion.html" %}

{% endblock %}