{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

{% leaflet_map "main" %}


<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;

        var marker = L.marker([{{ order.latitude|stringformat:"f" }}, {{ order.longitude|stringformat:"f"}}]).addTo(detail.map);
        marker.bindPopup("{{ order.address }}").openPopup();

        var onPolyClick = function(event){
            var layer = event.target;

            if (event.target.options.fillOpacity == 0){
                layer.setStyle({fillOpacity: 0.7});
                q.update(layer.feature.properties);
            }else {
                layer.setStyle({fillOpacity: 0});
                q.update(layer.feature.properties);
            }

        };

{#        var MouseOver= function(event){#}
{#            var layer = event.target;#}
{#            layer.setStyle({fillOpacity: 0.7});#}
{#            q.update(layer.feature.properties);#}
{#        };#}
{##}
{#        var MouseOut= function(event){#}
{#            var layer = event.target;#}
{#            layer.setStyle({fillOpacity: 0});#}
{#            q.update(layer.feature.properties);#}
{#        };#}


        {% for name, popup, poly, color in geo_data %}
            var {{ name }} = L.polygon({{ poly}}, {
                color: '{{ color }}',
                fillColor: '{{ color }}',
                fillOpacity: 0
            }
            ).addTo(detail.map).bindPopup('{{ popup|safe }}');

            {{ name }}.on({
                    'click': onPolyClick,
{#                    'mouseover': MouseOver,#}
{#                    'onmouseout': MouseOut#}

                }
            );

        {% endfor %}


    }, false);
</script>