{% extends 'base.html' %}

{% load cacheops %}

{% block title %}
    Заказ № {{ order.pk }}
{% endblock title %}

{% cached_as Order 600 order_detail %}
{% block content %}
    <div class="container" id="order-unread-notifications">
        {% for notice in unread_notifications %}
            {% include 'notifications/notice.html' %}
        {% endfor %}
    </div>

    {% if user.is_staff %}
        {% include "order_app/sub_tpl/supplier/_order_detail.html" %}
    {% else %}
        {% include "order_app/sub_tpl/manager/_order_detail.html" %}
    {% endif %}

{% endblock %}
{% endcached_as %}