{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}


{% block content %}

    {% leaflet_js %}
    {% leaflet_css %}

    {% leaflet_map "main" %}


    <script type="text/javascript">
        window.addEventListener("map:init", function (e) {
            var map = e.detail.map;

            {% include "core/_leaflet_icons.html" %}

            {% for o in all_order %}
                var marker = L.marker(
                    [{{ o.latitude|stringformat:"f" }}, {{ o.longitude|stringformat:"f"}}],
                    {% if o.status == 'CM' %}
                        {icon: greenIcon}
                    {% else %}
                        {icon: redIcon}
                    {% endif %}

                    ).addTo(map);
                marker.bindPopup('<a href="{% url 'order:order_detail' o.pk %}'+'" title="Перейти на станицу заказа">'+'{{ o.address }}'+'</a><hr>'+
                    '{{ o.product.name }} - '+'{{ o.provider.name }}<hr>'+
                    'Объем: {{ o.volume }} - '+'{{ o.cost }}р');
            {% endfor %}

        }, false);
    </script>

{% endblock %}