{% extends 'base.html' %}
{% load static %}

{% load leaflet_tags %}


{% block content %}
{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "main" %}


<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var map = e.detail.map;

        var greenIcon = new L.Icon({
          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        var blueIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        var onPolyClick = function(event){
            var layer = event.target;

            if (event.target.options.fillOpacity == 0){
                layer.setStyle({fillOpacity: 0.7});
                q.update(layer.feature.properties);
            }else {
                layer.setStyle({fillOpacity: 0});
                q.update(layer.feature.properties);
            }

        };
        {% for o in orders %}
            var marker = L.marker(
                [{{ o.latitude|stringformat:"f" }}, {{ o.longitude|stringformat:"f"}}],
                {% if o.status == 'CM' %}
                    {icon: greenIcon};
                {% else %}
                    {redIcon}
                {% endif %}

                ).addTo(map);
            marker.bindPopup('<a href="{% url 'order:order_detail' o.pk %}'+'/" title="Перейти на станицу заказа">'+'{{ o.address }}'+'</a><hr>'+
                '{{ o.product.name }} - '+'{{ o.provider.name }}<hr>'+
                'Объем: {{ o.volume }} - '+'{{ o.cost }}р');
        {% endfor %}


        {% for poly, name, popup in triangles %}
            var {{ name }} =; L.polygon({{ poly|safe}}, {
                color: 'red',
                fillColor: 'red',
                fillOpacity: 0
            }
            ).addTo(map).bindPopup('{{ popup|safe }}');

            {{ name }}.on({
                    'click': onPolyClick,
                }
            );

        {% endfor %}


    }, false);
</script>
{% endblock %}