{% extends 'base.html' %}
{% load static %}
{% block content %}

{#    {{ days|safe }}#}
{#    <hr>#}
{#    {{ days_overage|safe }}#}
{#    <hr>#}
{#    {{ days_median|safe }}#}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="overage-complete-time" style="min-width: 310px; height: 800px; margin: 0 auto"></div>

    <script type="text/javascript">
        Highcharts.chart('overage-complete-time', {

            chart: {
        type: 'column'
    },
    title: {
        text: 'Среднее время обработки заказов'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: {{ days|safe }},
        labels: {
                formatter: function () {
                    var date = this.value;
                    return '<a href="/filterviews?date_from_to_range_0='+ date + '&date_from_to_range_1='+ date + '">' + date + '</a>'
                },
                useHTML: true
            },
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'minutes'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} minutes</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Overage',
        data: {{ days_overage|safe }}

    }, {
        name: 'Median',
        data: {{ days_median|safe }}

    }]
});


    </script>


{% endblock %}