{% extends 'has_app/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
    <h1>Обновить заказ</h1>
    <div id="order_info">
        <h2>Заказ номер: {{ order.pk }} </h2>


    <p>Наименование: {{ order.product.name }}</p>
    <p>Адрес: {{ order.address }}</p>
    <p>{{ order.time_stat_p}}</p>
{#    <p>{{ order.time_stat_p|date:'Y m d H:i' }}</p>#}
    <p>{{ order.status }}</p>
{#    <p>Прошло времени: {{ order.time_stat_p|timesince:now }}</p>#}

{#    {% buttons %}#}
{#    <a href="{% url 'orders' %}" class="btn btn-default" role="button">Все заказы</a>#}
{#    <a href="update" class="btn btn-info" role="button">Обновить</a>#}
{#    {% endbuttons %}#}

    </div>
        <form action="{% url 'order_update' pk=order.pk%}" method="post" class="form">
{#            {{ order.get_absolute_url }}#}
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <a href="{% url 'order-detail' pk=order.pk%}" class="btn btn-default" role="button">Отменить</a>
                <input type="submit" class="btn btn-primary" value="Обновить" />
            {% endbuttons %}

        </form>
{% endblock %}