{% extends 'has_app/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Обновить заказ{% endblock %}

{% block content %}
    <h1>Обновить заказ</h1>
    <div id="order-info">
        <p>Заказ номер: {{ order.pk }} </p>
        <p>Наименование: {{ order.product.name }}</p>
        <p>Объем: {{ order.volume }}</p>
        <p>Адрес: {{ order.address }}</p>
        <p>Тонары: {{ order.get_tonar_display }}</p>
        <p>Прием: {{ order.get_time_of_receipt_display }}</p>
        <p>Оплата: {{ order.get_payment_display }}</p>
        <p>Описание: {{ order.description }}</p>

        <p>Стоимость с доставкой: {{ order.cost }} р.</p>
        <p>Поставщик: {{ order.provider }}</p>
    </div>
    <button type="button" class="btn btn-success" id="copy-button" aria-label="Left Align" data-clipboard-target="#order-info">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
    </button>

    <script type="text/javascript">
        (function(){
            new Clipboard('#copy-button');
        })();
    </script>

    <hr>
    <form action="{% url 'order_update' pk=order.pk%}" method="post" class="form">
{#            {{ order.get_absolute_url }}#}
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name = "status" value="CMPLTD">

        {% buttons %}
            <a href="{% url 'order-detail' pk=order.pk%}" class="btn btn-default" role="button">Отменить</a>
            <input type="submit" class="btn btn-primary" value="Обновить" />
        {% endbuttons %}

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" />


    <script type="text/javascript">
        $('.selectpicker').selectpicker({
          });
    </script>

{% endblock %}