{% extends 'has_app/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load leaflet_tags %}

{% block content %}
    <h1>{{ provider.name }}</h1>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#panel1">Инфо</a></li>
        <li><a data-toggle="tab" href="#panel2">Продукция</a></li>
        <li><a data-toggle="tab" href="#panel3">Заказы</a></li>
    </ul>

    <div class="tab-content">
        <div id="panel1" class="tab-pane fade in active">
            <h3>Информация поставщика</h3>
            <p>Поставщик: {{ provider.name }}</p>
            <p>Информация: {{ provider.contact_name }}</p>
            <p>Телефон: {{ provider.phone_number }}</p>

            <p>Почта: <br> {{ provider.mail_1 }} <br> {{ provider.mail_2 }}</p>

        </div>
        <div id="panel2" class="tab-pane fade">
            <h3>Список наименований поставщика</h3>

            {% for product in provider.products.all %}
                {{ product.name }}
                <br>
            {% endfor %}

        </div>
        <div id="panel3" class="tab-pane fade">
            <h3>Список заказов</h3>

            {% render_table provider_orders %}
        </div>
    </div>






    {% leaflet_js %}
    {% leaflet_css %}

    {% leaflet_map "main" %}


    <script type="text/javascript">
        window.addEventListener("map:init", function (e) {
            var detail = e.detail;

            var poly = L.polygon({{ poly_coord }}, {
                    color: 'red',
                    fillColor: 'blue',
                    fillOpacity: 0.5
                }
                ).addTo(detail.map).bindPopup("{{ provider.name }}");


        }, false);
    </script>

{% endblock %}