{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load leaflet_tags %}

{% block title %}
{{ customer.name }} :: Заказчик
{% endblock title %}

{% block content %}
    <h1>{{ customer.name }}
    {% if user.is_staff %}
        <a href="{% url 'admin:customer_app_customer_change' customer.pk %}"
                       role="button" target="_blank" title="Изменить заказчика" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    {% endif %}

    </h1>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info-panel">Инфо</a></li>
        <li><a data-toggle="tab" href="#shipment-panel">Отгрузки</a></li>
        <li><a data-toggle="tab" href="#transactions-panel">Транзакции</a></li>
    </ul>

    <div class="tab-content">
        <div id="info-panel" class="tab-pane fade in active">
            <h3>Информация Заказчика</h3>
            <p>Заказчик: {{ customer.name }}</p>
            <p>ИНН: {{ customer.inn }}</p>
            <p>Баланс: {{ customer.balance }}</p>
            <p>Информация: {{ customer.contact_name }}</p>
            <p>Телефон: {{ customer.phone_number }}</p>

            <p>Почта: <br> {{ customer.mail_1 }} <br> {{ customer.mail_2 }}</p>

        </div>
        <div id="shipment-panel" class="tab-pane fade">
            <h3>Отгрузки заказчика</h3>

            {% render_table shipments_table %}

        </div>

        <div id="transactions-panel" class="tab-pane fade">
                <h3>Транзакции</h3>

                {% include "customer_app/_transactions.html" %}

        </div>
    </div>


{% endblock %}