{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Добавить отгрузку{% endblock %}
{% block content %}

    <h1>Добавить отгрузку</h1>
        <form action="{% url 'shipment:new_shipment_form' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal"%}

            {% buttons %}
                {% buttons submit='Добавить' layout='horizontal' %}{% endbuttons %}
            {% endbuttons %}

        </form>


    {% include "order_app/sub_tpl/select_picker.html" %}


    {% include "order_app/sub_tpl/address_suggestion.html" %}


{% endblock %}