{% extends 'base.html' %}
{% load bootstrap3 %}
{% load admin_urls %}

{% block content %}

    <table class="table table-bordered">
        <thead>
        <tr>
            {% for key, value in unknowns.0 %}
                <th class="{{ key }}">
                {{ key }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for d in unknowns %}
            <tr>
                {% for key, value in d %}
                    {% if key == 'provider_add' %}
                        <td class="{{ key }}">
                        <a href="{{ value }}" target="_blank">Добавить как поставщик</a>
                        </td>
                    {% elif key == 'customer_add' %}
                        <td class="{{ key }}">
                        <a href="{{ value }}" target="_blank">Добавить как заказчик</a>
                        </td>
                    {% else %}
                        <td class="{{ key }}">
                        {{ value }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            {% for key, value in customers.0 %}
                <th class="{{ key }}">
                {{ key }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for d in customers %}
            <tr>
                {% for key, value in d %}
                    <td class="{{ key }}">
                    {{ value }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            {% for key, value in providers.0 %}
                <th class="{{ key }}">
                {{ key }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for d in providers %}
            <tr>
                {% for key, value in d %}
                    <td class="{{ key }}">
                    {{ value }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}