Django
gunicorn
psycopg2
django-haystack
elasticsearch
django-configurations
django-tables2
django-bootstrap3
django-filter
dj_email_url
requests

shapely
geopy
django-leaflet
django-geojson [field]

django-notifications-hq

django-debug-toolbar

# excel
xlrd
tablib

# кэширование
redis
django-cacheops

# django-grappelli

boto
django-ses

#data
numpy
matplotlib
scipy
sklearn
